In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data_place.csv')

In [3]:
data.head()

,Unnamed: 0,place,salary,expenditure_pm,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,...,hobby_1,hobby_2,hobby_3,hobby_4,hobby_5,hobby_6,hobby_7,hobby_8,hobby_9,hobby_10
0,0,5,3,4,0,17,49.965658,1,0,0,...,0,1,0,1,1,0,1,0,0,1
1,1,6,0,2,1,48,28.222958,1,0,0,...,0,0,0,1,0,0,1,0,0,1
2,2,7,2,2,0,55,48.033522,1,0,0,...,1,0,0,1,1,1,1,1,0,1
3,3,7,1,3,0,50,48.758037,1,0,0,...,1,0,0,1,1,0,0,0,0,0
4,4,5,0,0,1,28,42.151258,0,1,1,...,0,0,1,0,0,1,0,0,0,1

In [4]:
data.columns

Index(['Unnamed: 0', 'place', 'salary', 'expenditure_pm', 'gender', 'age',
       'curr_temprature', 'curr_mood_1', 'curr_mood_2', 'curr_mood_3',
       'curr_mood_4', 'curr_mood_5', 'curr_mood_6', 'curr_mood_7',
       'curr_mood_8', 'weather_1', 'weather_2', 'weather_3', 'weather_4',
       'allergy_1', 'allergy_2', 'allergy_3', 'allergy_4', 'allergy_5',
       'chronic_1', 'chronic_2', 'chronic_3', 'chronic_4', 'chronic_5',
       'chronic_6', 'chronic_7', 'employed', 'student', 'ind_cuisine_1',
       'ind_cuisine_2', 'ind_cuisine_3', 'ind_cuisine_4', 'hobby_1', 'hobby_2',
       'hobby_3', 'hobby_4', 'hobby_5', 'hobby_6', 'hobby_7', 'hobby_8',
       'hobby_9', 'hobby_10'],
      dtype='object')

In [5]:
data = data.drop(['Unnamed: 0'],axis = 1)

In [6]:
data.head()

,place,salary,expenditure_pm,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,curr_mood_4,...,hobby_1,hobby_2,hobby_3,hobby_4,hobby_5,hobby_6,hobby_7,hobby_8,hobby_9,hobby_10
0,5,3,4,0,17,49.965658,1,0,0,0,...,0,1,0,1,1,0,1,0,0,1
1,6,0,2,1,48,28.222958,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,7,2,2,0,55,48.033522,1,0,0,1,...,1,0,0,1,1,1,1,1,0,1
3,7,1,3,0,50,48.758037,1,0,0,0,...,1,0,0,1,1,0,0,0,0,0
4,5,0,0,1,28,42.151258,0,1,1,1,...,0,0,1,0,0,1,0,0,0,1

In [27]:
X = data.iloc[:,1:]
Y = data.iloc[:,0]

In [8]:
X.head()

,salary,expenditure_pm,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,curr_mood_4,curr_mood_5,...,hobby_1,hobby_2,hobby_3,hobby_4,hobby_5,hobby_6,hobby_7,hobby_8,hobby_9,hobby_10
0,3,4,0,17,49.965658,1,0,0,0,0,...,0,1,0,1,1,0,1,0,0,1
1,0,2,1,48,28.222958,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,2,2,0,55,48.033522,1,0,0,1,0,...,1,0,0,1,1,1,1,1,0,1
3,1,3,0,50,48.758037,1,0,0,0,1,...,1,0,0,1,1,0,0,0,0,0
4,0,0,1,28,42.151258,0,1,1,1,0,...,0,0,1,0,0,1,0,0,0,1

In [28]:
Y.head()

0    5
1    6
2    7
3    7
4    5
Name: place, dtype: int64

In [10]:
X.columns

Index(['salary', 'expenditure_pm', 'gender', 'age', 'curr_temprature',
       'curr_mood_1', 'curr_mood_2', 'curr_mood_3', 'curr_mood_4',
       'curr_mood_5', 'curr_mood_6', 'curr_mood_7', 'curr_mood_8', 'weather_1',
       'weather_2', 'weather_3', 'weather_4', 'allergy_1', 'allergy_2',
       'allergy_3', 'allergy_4', 'allergy_5', 'chronic_1', 'chronic_2',
       'chronic_3', 'chronic_4', 'chronic_5', 'chronic_6', 'chronic_7',
       'employed', 'student', 'ind_cuisine_1', 'ind_cuisine_2',
       'ind_cuisine_3', 'ind_cuisine_4', 'hobby_1', 'hobby_2', 'hobby_3',
       'hobby_4', 'hobby_5', 'hobby_6', 'hobby_7', 'hobby_8', 'hobby_9',
       'hobby_10'],
      dtype='object')

In [11]:
X.head()

,salary,expenditure_pm,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,curr_mood_4,curr_mood_5,...,hobby_1,hobby_2,hobby_3,hobby_4,hobby_5,hobby_6,hobby_7,hobby_8,hobby_9,hobby_10
0,3,4,0,17,49.965658,1,0,0,0,0,...,0,1,0,1,1,0,1,0,0,1
1,0,2,1,48,28.222958,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,2,2,0,55,48.033522,1,0,0,1,0,...,1,0,0,1,1,1,1,1,0,1
3,1,3,0,50,48.758037,1,0,0,0,1,...,1,0,0,1,1,0,0,0,0,0
4,0,0,1,28,42.151258,0,1,1,1,0,...,0,0,1,0,0,1,0,0,0,1

In [12]:
X = pd.concat([X,pd.get_dummies(X['salary'],prefix='salary')],axis=1)
X.drop(['salary'],axis=1, inplace=True)

In [14]:
X.columns

Index(['expenditure_pm', 'gender', 'age', 'curr_temprature', 'curr_mood_1',
       'curr_mood_2', 'curr_mood_3', 'curr_mood_4', 'curr_mood_5',
       'curr_mood_6', 'curr_mood_7', 'curr_mood_8', 'weather_1', 'weather_2',
       'weather_3', 'weather_4', 'allergy_1', 'allergy_2', 'allergy_3',
       'allergy_4', 'allergy_5', 'chronic_1', 'chronic_2', 'chronic_3',
       'chronic_4', 'chronic_5', 'chronic_6', 'chronic_7', 'employed',
       'student', 'ind_cuisine_1', 'ind_cuisine_2', 'ind_cuisine_3',
       'ind_cuisine_4', 'hobby_1', 'hobby_2', 'hobby_3', 'hobby_4', 'hobby_5',
       'hobby_6', 'hobby_7', 'hobby_8', 'hobby_9', 'hobby_10', 'salary_0',
       'salary_1', 'salary_2', 'salary_3'],
      dtype='object')

In [15]:
X = pd.concat([X,pd.get_dummies(X['expenditure_pm'],prefix='expenditure_pm')],axis=1)
X.drop(['expenditure_pm'],axis=1, inplace=True)

In [16]:
X.columns

Index(['gender', 'age', 'curr_temprature', 'curr_mood_1', 'curr_mood_2',
       'curr_mood_3', 'curr_mood_4', 'curr_mood_5', 'curr_mood_6',
       'curr_mood_7', 'curr_mood_8', 'weather_1', 'weather_2', 'weather_3',
       'weather_4', 'allergy_1', 'allergy_2', 'allergy_3', 'allergy_4',
       'allergy_5', 'chronic_1', 'chronic_2', 'chronic_3', 'chronic_4',
       'chronic_5', 'chronic_6', 'chronic_7', 'employed', 'student',
       'ind_cuisine_1', 'ind_cuisine_2', 'ind_cuisine_3', 'ind_cuisine_4',
       'hobby_1', 'hobby_2', 'hobby_3', 'hobby_4', 'hobby_5', 'hobby_6',
       'hobby_7', 'hobby_8', 'hobby_9', 'hobby_10', 'salary_0', 'salary_1',
       'salary_2', 'salary_3', 'expenditure_pm_0', 'expenditure_pm_1',
       'expenditure_pm_2', 'expenditure_pm_3', 'expenditure_pm_4'],
      dtype='object')

In [17]:
X.shape

(5000, 52)

In [19]:
Y.shape

(5000,)

In [20]:
from sklearn.datasets import make_classification
X1, Y1 = make_classification(n_samples=5000,
                             n_features=52, 
                             n_redundant=0,n_classes=10,
                             n_informative=52)

In [22]:
X_synthetic = pd.DataFrame(data=X1,columns=X.columns)

In [30]:
Y_synthetic = pd.DataFrame(data=Y1,columns=['place'])

In [37]:
data_place_synthetic = pd.concat([Y_synthetic,X_synthetic],axis=1)

In [39]:
data_place_synthetic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
place               5000 non-null int64
gender              5000 non-null float64
age                 5000 non-null float64
curr_temprature     5000 non-null float64
curr_mood_1         5000 non-null float64
curr_mood_2         5000 non-null float64
curr_mood_3         5000 non-null float64
curr_mood_4         5000 non-null float64
curr_mood_5         5000 non-null float64
curr_mood_6         5000 non-null float64
curr_mood_7         5000 non-null float64
curr_mood_8         5000 non-null float64
weather_1           5000 non-null float64
weather_2           5000 non-null float64
weather_3           5000 non-null float64
weather_4           5000 non-null float64
allergy_1           5000 non-null float64
allergy_2           5000 non-null float64
allergy_3           5000 non-null float64
allergy_4           5000 non-null float64
allergy_5           5000 non-null float64
chronic_1           5000 non-null float64
chronic_2           5000 non-null float64
chronic_3           5000 non-null float64
chronic_4           5000 non-null float64
chronic_5           5000 non-null float64
chronic_6           5000 non-null float64
chronic_7           5000 non-null float64
employed            5000 non-null float64
student             5000 non-null float64
ind_cuisine_1       5000 non-null float64
ind_cuisine_2       5000 non-null float64
ind_cuisine_3       5000 non-null float64
ind_cuisine_4       5000 non-null float64
hobby_1             5000 non-null float64
hobby_2             5000 non-null float64
hobby_3             5000 non-null float64
hobby_4             5000 non-null float64
hobby_5             5000 non-null float64
hobby_6             5000 non-null float64
hobby_7             5000 non-null float64
hobby_8             5000 non-null float64
hobby_9             5000 non-null float64
hobby_10            5000 non-null float64
salary_0            5000 non-null float64
salary_1            5000 non-null float64
salary_2            5000 non-null float64
salary_3            5000 non-null float64
expenditure_pm_0    5000 non-null float64
expenditure_pm_1    5000 non-null float64
expenditure_pm_2    5000 non-null float64
expenditure_pm_3    5000 non-null float64
expenditure_pm_4    5000 non-null float64
dtypes: float64(52), int64(1)
memory usage: 2.0 MB

In [55]:
data_place_synthetic.to_csv('data_place_synthetic.csv')

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_synthetic.values, Y_synthetic.values, test_size = 0.2, random_state = 0)

In [41]:
print(X_train.shape)
print(y_train.shape)

(4000, 52)
(4000, 1)

In [42]:
print(X_test.shape)
print(y_test.shape)

(1000, 52)
(1000, 1)

In [53]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix 
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train) 
  
# accuracy on X_test 
accuracy = knn.score(X_test, y_test) 
print(accuracy)

# creating a confusion matrix 
knn_predictions = knn.predict(X_test)  
cm_knn = confusion_matrix(y_test, knn_predictions)

/home/unknownsk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.714

In [54]:
cm_knn

array([[95,  3,  3,  2,  1,  3,  2,  0,  0,  0],
       [ 6, 78,  2,  4,  1,  2,  0,  2,  3,  1],
       [ 2,  4, 80,  1,  3,  2,  3,  0,  4,  1],
       [ 7,  2,  2, 61,  0,  2,  2,  1,  1,  0],
       [10,  5,  8, 10, 71,  5,  3,  2,  1,  1],
       [ 3,  1,  2,  4,  2, 67,  1,  0,  1,  0],
       [10,  5,  5,  5,  4,  9, 69,  1,  0,  1],
       [11,  6,  3,  5,  6,  4,  3, 58,  0,  1],
       [ 6,  3,  2,  6,  3,  4,  3,  2, 59,  1],
       [ 9,  7,  6,  4,  4,  7,  2,  0,  7, 76]])

In [56]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib

In [59]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
accuracy = classifier.score(X_test,y_test)
print(accuracy)

/home/unknownsk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.416

In [60]:
from sklearn.externals import joblib
filename = 'place_model.sav'
joblib.dump(knn, filename)

['place_model.sav']