In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../data_files/random_data/data_cloth.csv')

In [4]:
data.head()

,Unnamed: 0,cloth,salary,expenditure_pm,relative_time,gender,age,curr_temprature,curr_mood_1,curr_mood_2,...,color_1,color_2,color_3,color_4,color_5,color_6,color_7,color_8,color_9,color_10
0,0,2,3,4,0,0,17,49.965658,1,0,...,1,0,1,0,0,0,1,0,0,0
1,1,7,0,2,2,1,48,28.222958,1,0,...,1,0,1,0,1,0,1,0,1,0
2,2,4,2,2,3,0,55,48.033522,1,0,...,1,1,1,1,1,1,1,0,0,1
3,3,1,1,3,1,0,50,48.758037,1,0,...,1,1,1,1,0,1,0,0,1,1
4,4,3,0,0,0,1,28,42.151258,0,1,...,1,1,0,1,1,1,0,1,0,0

In [5]:
data.columns

Index(['Unnamed: 0', 'cloth', 'salary', 'expenditure_pm', 'relative_time',
       'gender', 'age', 'curr_temprature', 'curr_mood_1', 'curr_mood_2',
       'curr_mood_3', 'curr_mood_4', 'curr_mood_5', 'curr_mood_6',
       'curr_mood_7', 'curr_mood_8', 'weather_1', 'weather_2', 'weather_3',
       'weather_4', 'employed', 'student', 'artist_1', 'artist_2', 'artist_3',
       'artist_4', 'artist_5', 'artist_6', 'artist_7', 'artist_8', 'artist_9',
       'artist_10', 'artist_11', 'artist_12', 'artist_13', 'artist_14',
       'artist_15', 'clt_mat_1', 'clt_mat_2', 'clt_mat_3', 'clt_mat_4',
       'clt_mat_5', 'color_1', 'color_2', 'color_3', 'color_4', 'color_5',
       'color_6', 'color_7', 'color_8', 'color_9', 'color_10'],
      dtype='object')

In [6]:
data = data.drop(['Unnamed: 0'],axis = 1)

In [7]:
data.head()

,cloth,salary,expenditure_pm,relative_time,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,...,color_1,color_2,color_3,color_4,color_5,color_6,color_7,color_8,color_9,color_10
0,2,3,4,0,0,17,49.965658,1,0,0,...,1,0,1,0,0,0,1,0,0,0
1,7,0,2,2,1,48,28.222958,1,0,0,...,1,0,1,0,1,0,1,0,1,0
2,4,2,2,3,0,55,48.033522,1,0,0,...,1,1,1,1,1,1,1,0,0,1
3,1,1,3,1,0,50,48.758037,1,0,0,...,1,1,1,1,0,1,0,0,1,1
4,3,0,0,0,1,28,42.151258,0,1,1,...,1,1,0,1,1,1,0,1,0,0

In [8]:
X = data.iloc[:,1:]
Y = data.iloc[:,0]

In [9]:
X.head()

,salary,expenditure_pm,relative_time,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,curr_mood_4,...,color_1,color_2,color_3,color_4,color_5,color_6,color_7,color_8,color_9,color_10
0,3,4,0,0,17,49.965658,1,0,0,0,...,1,0,1,0,0,0,1,0,0,0
1,0,2,2,1,48,28.222958,1,0,0,0,...,1,0,1,0,1,0,1,0,1,0
2,2,2,3,0,55,48.033522,1,0,0,1,...,1,1,1,1,1,1,1,0,0,1
3,1,3,1,0,50,48.758037,1,0,0,0,...,1,1,1,1,0,1,0,0,1,1
4,0,0,0,1,28,42.151258,0,1,1,1,...,1,1,0,1,1,1,0,1,0,0

In [10]:
Y.head()

0    2
1    7
2    4
3    1
4    3
Name: cloth, dtype: int64

In [11]:
X.columns

Index(['salary', 'expenditure_pm', 'relative_time', 'gender', 'age',
       'curr_temprature', 'curr_mood_1', 'curr_mood_2', 'curr_mood_3',
       'curr_mood_4', 'curr_mood_5', 'curr_mood_6', 'curr_mood_7',
       'curr_mood_8', 'weather_1', 'weather_2', 'weather_3', 'weather_4',
       'employed', 'student', 'artist_1', 'artist_2', 'artist_3', 'artist_4',
       'artist_5', 'artist_6', 'artist_7', 'artist_8', 'artist_9', 'artist_10',
       'artist_11', 'artist_12', 'artist_13', 'artist_14', 'artist_15',
       'clt_mat_1', 'clt_mat_2', 'clt_mat_3', 'clt_mat_4', 'clt_mat_5',
       'color_1', 'color_2', 'color_3', 'color_4', 'color_5', 'color_6',
       'color_7', 'color_8', 'color_9', 'color_10'],
      dtype='object')

In [12]:
X.head()

,salary,expenditure_pm,relative_time,gender,age,curr_temprature,curr_mood_1,curr_mood_2,curr_mood_3,curr_mood_4,...,color_1,color_2,color_3,color_4,color_5,color_6,color_7,color_8,color_9,color_10
0,3,4,0,0,17,49.965658,1,0,0,0,...,1,0,1,0,0,0,1,0,0,0
1,0,2,2,1,48,28.222958,1,0,0,0,...,1,0,1,0,1,0,1,0,1,0
2,2,2,3,0,55,48.033522,1,0,0,1,...,1,1,1,1,1,1,1,0,0,1
3,1,3,1,0,50,48.758037,1,0,0,0,...,1,1,1,1,0,1,0,0,1,1
4,0,0,0,1,28,42.151258,0,1,1,1,...,1,1,0,1,1,1,0,1,0,0

In [13]:
X = pd.concat([X,pd.get_dummies(X['salary'],prefix='salary')],axis=1)
X.drop(['salary'],axis=1, inplace=True)

In [14]:
X.columns

Index(['expenditure_pm', 'relative_time', 'gender', 'age', 'curr_temprature',
       'curr_mood_1', 'curr_mood_2', 'curr_mood_3', 'curr_mood_4',
       'curr_mood_5', 'curr_mood_6', 'curr_mood_7', 'curr_mood_8', 'weather_1',
       'weather_2', 'weather_3', 'weather_4', 'employed', 'student',
       'artist_1', 'artist_2', 'artist_3', 'artist_4', 'artist_5', 'artist_6',
       'artist_7', 'artist_8', 'artist_9', 'artist_10', 'artist_11',
       'artist_12', 'artist_13', 'artist_14', 'artist_15', 'clt_mat_1',
       'clt_mat_2', 'clt_mat_3', 'clt_mat_4', 'clt_mat_5', 'color_1',
       'color_2', 'color_3', 'color_4', 'color_5', 'color_6', 'color_7',
       'color_8', 'color_9', 'color_10', 'salary_0', 'salary_1', 'salary_2',
       'salary_3'],
      dtype='object')

In [15]:
X = pd.concat([X,pd.get_dummies(X['expenditure_pm'],prefix='expenditure_pm')],axis=1)
X.drop(['expenditure_pm'],axis=1, inplace=True)

In [16]:
X.columns

Index(['relative_time', 'gender', 'age', 'curr_temprature', 'curr_mood_1',
       'curr_mood_2', 'curr_mood_3', 'curr_mood_4', 'curr_mood_5',
       'curr_mood_6', 'curr_mood_7', 'curr_mood_8', 'weather_1', 'weather_2',
       'weather_3', 'weather_4', 'employed', 'student', 'artist_1', 'artist_2',
       'artist_3', 'artist_4', 'artist_5', 'artist_6', 'artist_7', 'artist_8',
       'artist_9', 'artist_10', 'artist_11', 'artist_12', 'artist_13',
       'artist_14', 'artist_15', 'clt_mat_1', 'clt_mat_2', 'clt_mat_3',
       'clt_mat_4', 'clt_mat_5', 'color_1', 'color_2', 'color_3', 'color_4',
       'color_5', 'color_6', 'color_7', 'color_8', 'color_9', 'color_10',
       'salary_0', 'salary_1', 'salary_2', 'salary_3', 'expenditure_pm_0',
       'expenditure_pm_1', 'expenditure_pm_2', 'expenditure_pm_3',
       'expenditure_pm_4'],
      dtype='object')

In [17]:
X = pd.concat([X,pd.get_dummies(X['relative_time'],prefix='relative_time')],axis=1)
X.drop(['relative_time'],axis=1, inplace=True)

In [18]:
X.columns

Index(['gender', 'age', 'curr_temprature', 'curr_mood_1', 'curr_mood_2',
       'curr_mood_3', 'curr_mood_4', 'curr_mood_5', 'curr_mood_6',
       'curr_mood_7', 'curr_mood_8', 'weather_1', 'weather_2', 'weather_3',
       'weather_4', 'employed', 'student', 'artist_1', 'artist_2', 'artist_3',
       'artist_4', 'artist_5', 'artist_6', 'artist_7', 'artist_8', 'artist_9',
       'artist_10', 'artist_11', 'artist_12', 'artist_13', 'artist_14',
       'artist_15', 'clt_mat_1', 'clt_mat_2', 'clt_mat_3', 'clt_mat_4',
       'clt_mat_5', 'color_1', 'color_2', 'color_3', 'color_4', 'color_5',
       'color_6', 'color_7', 'color_8', 'color_9', 'color_10', 'salary_0',
       'salary_1', 'salary_2', 'salary_3', 'expenditure_pm_0',
       'expenditure_pm_1', 'expenditure_pm_2', 'expenditure_pm_3',
       'expenditure_pm_4', 'relative_time_0', 'relative_time_1',
       'relative_time_2', 'relative_time_3'],
      dtype='object')

In [19]:
X.shape

(5000, 60)

In [20]:
Y.shape

(5000,)

In [21]:
from sklearn.datasets import make_classification
X1, Y1 = make_classification(n_samples=5000,
                             n_features=60, 
                             n_redundant=0,n_classes=10,
                             n_informative=60)

In [22]:
X_synthetic = pd.DataFrame(data=X1,columns=X.columns)

In [37]:
Y_synthetic = pd.DataFrame(data=Y1,columns=['cloth'])

In [38]:
data_cloth_synthetic = pd.concat([Y_synthetic,X_synthetic],axis=1)

In [39]:
data_cloth_synthetic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 61 columns):
cloth               5000 non-null int64
gender              5000 non-null float64
age                 5000 non-null float64
curr_temprature     5000 non-null float64
curr_mood_1         5000 non-null float64
curr_mood_2         5000 non-null float64
curr_mood_3         5000 non-null float64
curr_mood_4         5000 non-null float64
curr_mood_5         5000 non-null float64
curr_mood_6         5000 non-null float64
curr_mood_7         5000 non-null float64
curr_mood_8         5000 non-null float64
weather_1           5000 non-null float64
weather_2           5000 non-null float64
weather_3           5000 non-null float64
weather_4           5000 non-null float64
employed            5000 non-null float64
student             5000 non-null float64
artist_1            5000 non-null float64
artist_2            5000 non-null float64
artist_3            5000 non-null float64
artist_4            5000 non-null float64
artist_5            5000 non-null float64
artist_6            5000 non-null float64
artist_7            5000 non-null float64
artist_8            5000 non-null float64
artist_9            5000 non-null float64
artist_10           5000 non-null float64
artist_11           5000 non-null float64
artist_12           5000 non-null float64
artist_13           5000 non-null float64
artist_14           5000 non-null float64
artist_15           5000 non-null float64
clt_mat_1           5000 non-null float64
clt_mat_2           5000 non-null float64
clt_mat_3           5000 non-null float64
clt_mat_4           5000 non-null float64
clt_mat_5           5000 non-null float64
color_1             5000 non-null float64
color_2             5000 non-null float64
color_3             5000 non-null float64
color_4             5000 non-null float64
color_5             5000 non-null float64
color_6             5000 non-null float64
color_7             5000 non-null float64
color_8             5000 non-null float64
color_9             5000 non-null float64
color_10            5000 non-null float64
salary_0            5000 non-null float64
salary_1            5000 non-null float64
salary_2            5000 non-null float64
salary_3            5000 non-null float64
expenditure_pm_0    5000 non-null float64
expenditure_pm_1    5000 non-null float64
expenditure_pm_2    5000 non-null float64
expenditure_pm_3    5000 non-null float64
expenditure_pm_4    5000 non-null float64
relative_time_0     5000 non-null float64
relative_time_1     5000 non-null float64
relative_time_2     5000 non-null float64
relative_time_3     5000 non-null float64
dtypes: float64(60), int64(1)
memory usage: 2.3 MB

In [40]:
data_cloth_synthetic.to_csv('../data_files/synthetic_data/data_cloth_synthetic.csv')

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_synthetic.values, Y_synthetic.values, test_size = 0.2, random_state = 0)

In [42]:
print(X_train.shape)
print(y_train.shape)

(4000, 60)
(4000, 1)

In [43]:
print(X_test.shape)
print(y_test.shape)

(1000, 60)
(1000, 1)

In [44]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix 
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train) 
  
# accuracy on X_test 
accuracy = knn.score(X_test, y_test) 
print(accuracy)

# creating a confusion matrix 
knn_predictions = knn.predict(X_test)  
cm_knn = confusion_matrix(y_test, knn_predictions)

/home/unknownsk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.701

In [45]:
cm_knn

array([[75,  1,  2,  0,  1,  6,  1,  1,  2,  2],
       [ 4, 75,  4,  1,  3,  2,  0,  2,  3,  1],
       [ 2,  2, 75,  0,  3,  0,  0,  2,  4,  1],
       [ 6,  6,  6, 69,  4,  3,  1,  2,  2,  3],
       [ 6,  4,  5,  3, 78,  1,  3,  1,  5,  1],
       [17,  4, 10,  4,  4, 64,  2,  2,  2,  2],
       [ 2,  1,  8,  2,  4,  6, 66,  3,  5,  4],
       [ 5,  7, 10,  1,  7,  5,  2, 69,  1,  2],
       [ 5,  6,  7,  0,  2,  1,  2,  5, 74,  0],
       [ 3,  2,  8,  9,  0,  4,  2,  6,  3, 56]])

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib

In [34]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
accuracy = classifier.score(X_test,y_test)
print(accuracy)

/home/unknownsk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.363

In [46]:
from sklearn.externals import joblib
filename = '../model_weights/cloth_model.sav'
joblib.dump(knn, filename)

['../model_weights/cloth_model.sav']